<?xml version="1.0" encoding="utf-8"?>
<manifest package="app.minimize.com.spotifystreamer"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.GreenTheme">

        <activity
            android:name=".Activities.ContainerActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".MediaPlayerService"
            />

        <activity android:name=".Activities.SettingsActivity"/>

        <receiver android:name=".HelperClasses.PlayerNotificationReceiver"/>
    </application>

</manifest>
